@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap;1,900");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --primary: #02a797;
  --muted: #6c757d;
}

.nav-link {
  color: black;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
}

li.nav-m:hover a {
  color: #02a797;
}

.nav-m a:focus {
  color: #02a797;
}

.header_wrapper .menu-navbar-nav {
  width: 60%;
}

/* header scroll */
.header-scroll {
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* header scroll */

.btn-extra-header {
  border-radius: 10px;
  margin-right: 10px;
}

.btn-sign-up {
  border: 2px solid rgb(255, 255, 255);
  background-color: var(--primary);
  color: white;
  padding: 10px 20px !important;
}

.btn-login {
  border: 2px solid var(--primary);
  overflow: hidden;
  color: black;
  padding: 10px 15px !important;
}

.btn-login:hover {
  background-color: var(--primary);
  color: rgb(255, 255, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn-login:focus {
  color: rgb(0, 0, 0);
}

.btn-sign-up:hover {
  background-color: white;
  color: black;
  border: 2px solid #02a797;
}

.btn-sign-up:focus {
  color: rgb(0, 0, 0);
}

.banner-title {
  font-weight: bolder;
  text-transform: capitalize;
}

/* Banner img */
.banner-wrapper {
  display: flex;
  width: 100%;
  padding: 170px 0 125px;
  background: url(../img/bg.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.start-now {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Animation banner */
.banner-wrapper .header-img img {
  width: 100%;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Animation banner */

/* introduce */

.introduce-body-item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 30px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.introduce-body-item:hover {
  transform: translateY(0) scale(1.1);
}

.introduce-body-icon i {
  color: #02a797;
  margin-top: 10px;
  font-size: 22px;
  padding: 2px;
}

.introduce-body-title {
  margin-top: 40px;
}

.introduce-body-desc {
  margin-top: 20px;
  color: #6c757d;
  font-size: 14px;
}

.introduce-info-title {
  font-weight: 700;
  color: #02a797;
}

.introduce-info-desc {
  font-weight: 500;
  padding-top: 10px;
  color: #6c757d;
}

/* introduce */

/* contact */
.contact-img-top {
  display: block;
  margin: 0 auto;
  animation: float 4s ease-in-out infinite;
}

.contact-left input,
.contact-left textarea {
  border-radius: 15px !important;
  resize: none;
}

.contact-info p {
  line-height: 1.8;
}

.contact-left input[type="submit"] {
  float: right;
}

/* contact */

/* FAQ */
.form-faq {
  position: relative;
  width: 70%;
  display: block;
  margin: 0 auto;
}

.form-faq input {
  padding: 15px 40px;
  font-size: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 25px;
}

.btn-faq {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 13px !important;
  right: 10px;
}

.faq-box-icon {
  font-size: 50px;
  color: #6c757d !important;
  display: block;
  text-align: center;
}

.faq-box {
  padding: 50px;
}

.faq-box-desc {
  font-size: 18px;
  font-weight: 500;
  color: rgb(54, 53, 53);
  text-align: center;
  margin-top: 15px;
}

.faq-box:hover i,
.faq-box:hover p {
  color: var(--primary) !important;
}

/* FAQ */

/* footer */
.footer-wrapper {
  padding: 100px 0 25px;
  background: url(../img/bg_footer.png);
  background-size: cover;
  background-color: var(--primary);
  color: white;
}

.footer-wrapper .footer-text,
.footer-wrapper a {
  color: white;
  font-size: 15px;
  line-height: 2;
}

.footer-wrapper .footer-title {
  text-transform: uppercase;
  line-height: 1.7;
  font-weight: 700;
  margin-bottom: 25px;
}

.footer-wrapper .footer-credit {
  border-top: 1px solid white;
  padding-top: 20px;
  margin-top: 30px;
}

.footer-wrapper .footer-social-icon {
  padding-right: 30px;
  font-style: 20px;
  font-weight: 600;
}

.footer-wrapper .fb {
  color: rgb(148, 253, 218);
  font-weight: 600;
}

/* footer */

/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(221, 214, 214);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}


.feedback-wrapper {
  padding: 100px 0;
}

.feedback-wrapper .feedback-subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
  color: var(--muted);
}

.feedback-wrapper .feedback-title {
  font-weight: 800;
  font-style: 34px;
  line-height: 1.25;
  margin-bottom: 80px;
}

.feedback-wrapper .feedback-card {
  border-radius: 15px;
  padding: 50px;
  background-color: white;
  box-shadow: 0 5px 40px rgb(0 0 0 /15%);
}

.feedback-wrapper .feedback-card h3 {
  font-style: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
}

.feedback-wrapper .feedback-role {
  font-style: 19px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 25px;
  color: var(--primary);
}

.feedback-wrapper .feedback-text {
  font-style: 15px;
  font-weight: 500;
  line-height: 1.5;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-footer {
  display: block;
  margin: 0 auto;
}

.form-login-social-icon {
  padding: 11px 15px;
  font-size: 18px;
  border: 1px solid var(--muted);
  border-radius: 50%;
  color: var(--muted);
}

.form-login-social-icon:hover {
  color: var(--primary);
}

.form-title {
  text-transform: uppercase;
  font-weight: 600;
}

.username,
.password {
  padding: 15px;
  border-radius: 15px;
  width: 80%;
  display: block;
  margin: 0 auto;
}

.forgot-password {
  width: 88%;
  text-align: right;
  margin-top: 10px;
}

.forgot-password a {
  color: var(--muted);
}

.form-btn {
  width: 30%;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.form-login-button {
  margin-top: 10px;
}

.modal-content {
  border-radius: 15px;
  box-shadow: 0 5px 40px rgb(0 0 0 /15%);
}

.course-page-wrapper .list-item-course {
  padding: 10px 20px;
  margin-left: 10px;
  color: var(--muted);
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;

}

.list-item-course:hover {
  background-color: var(--primary);
  color: white;
}

.course-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-info-wrapper {
  padding: 150px;
}

.course-info {
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.course-info h6 {
  display: inline;
}

.quiz-detail {
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  padding: 50px;
}

.quiz-title,
.quiz-number {
  font-size: 23px;
  font-weight: 550;
}

input[type="radio"].answer {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.list-quiz li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.answer {
  margin-left: 30px;
}

.quiz-answer {
  cursor: pointer;
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.199);
  visibility: hidden;
  opacity: 1;
  transition: .1s;
  cursor: pointer;
}

.card:hover .card .card-img-overlay {
  visibility: visible;
  opacity: 1;
}

.course-desc {
  font-size: 13px;
  margin-top: 5px;
}

.course-img {
  height: 220px;
}

/* Loading */
.loading {
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.spinner-center {
  top: 50%;
  left: 50%;
  position: absolute;
}