    <!-- course -->
    <section class="course-wrapper" id="course" style="margin:  80px 0px;" ng-controller="courseCtrl">
        <div class="container">
            <div class="row mt-5 course-head">
                <div class="col-12 text-center">
                    <h2 class="course-head-title pt-5">KHÓA HỌC</h2>
                    <p class="course-head-desc text-muted pt-2">
                        Một số khóa học nổi bật
                    </p>
                </div>
            </div>
            <div class="row course-page-wrapper">
                <div class="col mt-4 course-page">
                    <a class="list-item-course" href="#">ALL</a>
                    <a class="list-item-course" href="#">APP</a>
                    <a class="list-item-course" href="#">WEB</a>
                    <a class="list-item-course" href="#">CARD</a>
                </div>
            </div>
            <div class="row mt-5 course-body">
                <div class="col-md-4 col-12 mt-4 text-center" ng-repeat="subject in subjects | limitTo: 6:currentPage">
                    <div class="card">
                        <div class="card">
                            <img src="img/logos/{{subject.Logo}}" alt="" class="card-img-top course-img">
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <button ng-click="startCourse(subject.Id)" class="btn btn-success btn-start-quiz">Chi tiết</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="course-title">{{subject.Name}}</h5>
                            <p class="course-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque corporis architecto quae omnis
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <nav aria-label="Page navigation example" class="">
                        <ul class="pagination ">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" ng-click="first()" style="cursor: pointer;">
                                    <span aria-hidden="true" style="font-size: 25px;">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" ng-click="prev()">
                                <p class="page-link" style="font-size: 25px; cursor: pointer;">
                                    < </p> </li> <li class="page-item" ng-click="next()">
                                        <p class="page-link" style="font-size: 25px; cursor: pointer;"> > </p>
                            </li>
                            <li class="page-item" disabled="disabled">
                                <button class="page-link" aria-label="Next" ng-click="last()" style="cursor: pointer;">
                                    <span aria-hidden="true" style="font-size: 25px;">&raquo;</span>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- course -->