    <!-- course -->
    <section class="course-wrapper" id="course" style="margin:  80px 0px;">
        <div class="container">
            <div class="row mt-5 course-head">
                <div class="col-12 text-center">
                    <h2 class="course-head-title pt-5">KHÓA HỌC</h2>
                    <p class="course-head-desc text-muted pt-2">
                        Một số khóa học nổi bật
                    </p>
                </div>
            </div>
            <div class="row course-page-wrapper">
                <div class="col mt-4 course-page">
                    <a class="list-item-course" href="#">ALL</a>
                    <a class="list-item-course" href="#">APP</a>
                    <a class="list-item-course" href="#">WEB</a>
                    <a class="list-item-course" href="#">CARD</a>
                </div>
            </div>
            <div class="row mt-5 course-body">
                <div class="col-md-4 col-12 mt-4 text-center wow fadeInLeftBig" data-wow-duration="2s" data-wow-delay="0.3s">
                    <div class="card">
                        <div class="card">
                            <img src="http://itplus-academy.edu.vn/upload/c47d9c29fc44c2b7996a2613aec3c1f9/files/writer1/jv.jpg" alt=""
                                class="card-img-top course-img">
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <a href="./quiz.html" class="btn btn-primary btn-start-quiz">Làm bài ngay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="course-title">Lập trình Java</h5>
                            <p class="course-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque corporis architecto quae omnis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mt-4 text-center wow fadeInLeftBig" data-wow-duration="2s" data-wow-delay="0.3s">
                    <div class="card">
                        <div class="card">
                            <img src="http://itplus-academy.edu.vn/upload/c47d9c29fc44c2b7996a2613aec3c1f9/files/writer1/jv.jpg" alt=""
                                class="card-img-top course-img">
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <a href="./quiz.html" class="btn btn-primary btn-start-quiz">Làm bài ngay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="course-title">Lập trình Java</h5>
                            <p class="course-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque corporis architecto quae omnis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mt-4 text-center wow fadeInLeftBig" data-wow-duration="2s" data-wow-delay="0.3s">
                    <div class="card">
                        <div class="card">
                            <img src="http://itplus-academy.edu.vn/upload/c47d9c29fc44c2b7996a2613aec3c1f9/files/writer1/jv.jpg" alt=""
                                class="card-img-top course-img">
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <a href="./quiz.html" class="btn btn-primary btn-start-quiz">Làm bài ngay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="course-title">Lập trình Java</h5>
                            <p class="course-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque corporis architecto quae omnis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mt-4 text-center wow fadeInLeftBig" data-wow-duration="2s" data-wow-delay="0.3s">
                    <div class="card">
                        <div class="card">
                            <img src="http://itplus-academy.edu.vn/upload/c47d9c29fc44c2b7996a2613aec3c1f9/files/writer1/jv.jpg" alt=""
                                class="card-img-top course-img">
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <a href="./quiz.html" class="btn btn-primary btn-start-quiz">Làm bài ngay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="course-title">Lập trình Java</h5>
                            <p class="course-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque corporis architecto quae omnis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mt-4 text-center wow fadeInLeftBig" data-wow-duration="2s" data-wow-delay="0.3s">
                    <div class="card">
                        <div class="card">
                            <img src="http://itplus-academy.edu.vn/upload/c47d9c29fc44c2b7996a2613aec3c1f9/files/writer1/jv.jpg" alt=""
                                class="card-img-top course-img">
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <a href="./views/quiz.html" class="btn btn-primary btn-start-quiz">Làm bài ngay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="course-title">Lập trình Java</h5>
                            <p class="course-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque corporis architecto quae omnis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mt-4 text-center wow fadeInLeftBig" data-wow-duration="2s" data-wow-delay="0.3s">
                    <div class="card">
                        <div class="card">
                            <img src="http://itplus-academy.edu.vn/upload/c47d9c29fc44c2b7996a2613aec3c1f9/files/writer1/jv.jpg" alt=""
                                class="card-img-top course-img">
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <a href="#!quiz" class="btn btn-primary btn-start-quiz">Làm bài ngay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="course-title">Lập trình Java</h5>
                            <p class="course-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque corporis architecto quae omnis
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-12 text-center">
                    <a href="#" class="btn btn-primary btn-view-all">Xem tất cả khóa học</a>
                </div>
            </div>
        </div>
    </section>
    <!-- course -->