<div class="editpass-wrapper" style="margin: 245px" ng-controller="editPassCtrl">
    <div class="container">
        <div class="row">
            <div class="col-8 m-auto">
                <div class="repass" style="padding: 50px; box-shadow: 0 5px 40px rgb(0 0 0 / 15%)">
                    <h2 class="mb-3 text-center">Đổi mật khẩu</h2>
                    <form>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Mật khẩu cũ</label>
                            <input type="password" class="form-control" ng-model="passwordOld" autocomplete="required">
                        </div>
                        <div class="form-group mt-3">
                            <label for="" class="col-sm-2 control-label">Mật khẩu mới</label>
                            <input type="password" class="form-control" ng-model="studentR.password" autocomplete="required">
                        </div>
                        <div class="form-group mt-3">
                            <label for="" class="col-sm-2 control-label">Nhập lại </label>
                            <input type="password" class="form-control" ng-model="passwordNewCf" autocomplete="required">
                        </div>
                        <button class="btn btn-sign-up d-block m-auto mt-4" ng-click="changePass()">Xác nhận</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>