
    <!-- feedback -->
    <section class="feedback-wrapper" id="feedback" style="margin-top: 150px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="feedback-subtitle">Các thành viên</p>
                    <h2 class="feedback-title">Góp ý</h2>
                </div>
            </div>
            <div class="row align-items-center mb-5">
                <div class="col-sm-12 col-lg-4 mb-5 mv-lg-0">
                    <img src="./img/video.png" class="img-fluid" alt="">
                </div>
                <div class="col-sm-12 col-lg-7 offset-lg-1 mb-5 mb-lg-0">
                    <div class="feedback-card wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.2s">
                        <h3>Nguyen Minh Phuong</h3>
                        <div class="feedback-role">Thành viên mới</div>
                        <p class="feedback-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto officiis animi iusto deserunt amet, error culpa illo
                            soluta
                            pariatur quo distinctio blanditiis accusamus earum rerum, harum repellendus nam modi aperiam?
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center flex-sm-row-reverse">
                <div class="col-sm-12 col-lg-4 offset-lg-1 mb-5 mv-lg-0">
                    <img src="./img/faq.png" class="img-fluid" alt="">
                </div>
                <div class="col-sm-12 col-lg-7 mb-lg-0">
                    <div class="feedback-card wow fadeInLeftBig" data-wow-duration="2s" data-wow-delay="0.2s">
                        <h3>Tran Duc Phuong</h3>
                        <div class="feedback-role">Thành viên mới</div>
                        <p class="feedback-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto officiis animi iusto deserunt amet, error culpa illo
                            soluta
                            pariatur quo distinctio blanditiis accusamus earum rerum, harum repellendus nam modi aperiam?
                        </p>
                    </div>
                </div>
            </div>
             <div class="row align-items-center mb-5">
                 <div class="col-sm-12 col-lg-4 mb-5 mv-lg-0">
                     <img src="./img/video.png" class="img-fluid" alt="">
                 </div>
                 <div class="col-sm-12 col-lg-7 offset-lg-1 mb-5 mb-lg-0">
                     <div class="feedback-card wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.2s">
                         <h3>Nguyen Minh Phuong</h3>
                         <div class="feedback-role">Thành viên mới</div>
                         <p class="feedback-text">
                             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto officiis animi iusto deserunt amet, error culpa illo
                             soluta
                             pariatur quo distinctio blanditiis accusamus earum rerum, harum repellendus nam modi aperiam?
                         </p>
                     </div>
                 </div>
             </div>
        </div>
    </section>
    <!-- feedback -->
