<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 login-banner ">
                        <img src="./img/forgot-password.png" alt="" class="img-fluid ">
                    </div>
                    <div class="col-6 form-login">
                        <h1 class="form-title text-center">Quên mật khẩu</h1>
                        <form>
                            <div class="form-group mt-5">
                                <input type="text" class="form-control username" name="email-forgot-password" id="email-forgot-password"
                                    placeholder="Email">
                            </div>
                            <button class="btn btn-sign-up form-btn form-control mt-3">Xác nhận</button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer mb-5">
                Quay trở lại ? <a class="" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" style="cursor: pointer;">Đăng nhập</a>
            </div>
        </div>

    </div>
</div>