<!-- Home -->
<section id="home" class="banner-wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 header-img wow fadeInLeftBig" data-wow-duration="2s" data-wow-delay="0.5s">
        <img src="./img/testimonial1.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-6 text-center text-md-start my-5">
        <h5 class="banner-subtitle pb-3 wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.5s" style="color: #686d77;">Chào mừng tới với
          E-LEARNING !</h5>
        <h1 class="banner-title pb-3 wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.4s" style="line-height: 55px;">
          <p>Cảm ơn vì đã sử dụng.</p>
          Bắt đầu ngay <span style="color: #02a797;">E-LEARNING</span> để có trải nghiệm tốt nhất
        </h1>
        <p class="banner-desc text-muted pb-3 wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.3s">
          Chúng tôi sẽ mang đến cho bạn những bài học bổ ích, giúp bạn nắm vững những kiến thức từ cơ bản đến nâng cao về nhiều khía cạnh của các
          môn học lập trình thông thường.
        </p>
        <div class="start-now wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.2s">
          <a href="#" class="btn btn-sign-up btn-start" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
            Start now
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Home -->