<!-- Introduce -->
<section class="introduce-wrapper" id="introduce" style="margin: 100px 0;">
    <div class="container">
        <div class="introduce-head">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="introduce-head-title pt-5">GIỚI THIỆU</h2>
                    <p class="introduce-head-desc text-muted pt-2">
                        E-LEARNING là trang web giúp bạn củng cố kiến thức về các ngôn ngữ lập trình
                    </p>
                </div>
            </div>
        </div>
        <div class="introduce-body">
            <div class="row mt-5">
                <div class="col-md col-xs col-lg text-center introduce-body-item wow fadeInLeftBig" style="margin-right: 30px;" data-wow-duration="2s"
                    data-wow-delay="0.3s">
                    <a href="#" class="introduce-body-icon"><i class="fas fa-basketball-ball"></i></a>
                    <h3 class="introduce-body-title">Hệ thống câu hỏi</h3>
                    <p class="introduce-body-desc">
                        Hệ thống câu hỏi phong phú từ cơ bản đến nâng cao
                    </p>
                </div>
                <div class="col-md col-xs col-lg text-center introduce-body-item wow wow fadeInUpBig" style="margin-right: 30px;"
                    data-wow-duration="2s" data-wow-delay="0.3s">
                    <a href="#" class="introduce-body-icon"><i class="fas fa-clipboard-list"></i></a>
                    <h3 class="introduce-body-title">Đa dạng môn học</h3>
                    <p class="introduce-body-desc">
                        Hệ thống các môn học lập trình đa dạng
                    </p>
                </div>
                <div class="col-md col-xs col-lg text-center introduce-body-item wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.3s">
                    <a href="#" class="introduce-body-icon"><i class="far fa-clock"></i></i></a>
                    <h3 class="introduce-body-title">Kiểm soát thời gian</h3>
                    <p class="introduce-body-desc">
                        Chúng tôi cung cấp cho bạn hệ thống giúp bạn có thể kiểm soát được các khóa học của mình
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="row align-items-center">
                    <div class="col-md-6 header-img wow fadeInLeftBig">
                        <img src="./img/friend.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 text-center text-md-start my-5">

                        <h1 class="banner-title pb-3 wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.4s" style="line-height: 55px;">
                            Hãy Trở thành học viên của <span style="color: #02a797;"> E-LEARNING</span> ngay hôm nay
                        </h1>
                        <p class="banner-desc text-muted pb-3 wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.3s">
                            <i class="far fa-check-circle" style="color: #02a797;"></i> Học tập với tiêu chí "Học nhanh - Làm hiệu quả".
                        </p>
                        <p class="banner-desc text-muted pb-3 wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.3s">
                            <i class="far fa-check-circle" style="color: #02a797;"></i> Học hỏi với nhiều dạng bài tập khác nhau.
                        </p>
                        <p class="banner-desc text-muted pb-3 wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.3s">
                            <i class="far fa-check-circle" style="color: #02a797;"></i> Tích lũy kinh nghiệm qua những bài học của những chuyên
                            gia
                            hàng đầu
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 text-center introduce-info">
            <div class="col-md-3 col-6">
                <h1 class="introduce-info-title">2021</h1>
                <p class="introduce-info-desc">Thành viên</p>
            </div>
            <div class="col-md-3 col-6">
                <h1 class="introduce-info-title">521</h1>
                <p class="introduce-info-desc">Bài giảng</p>
            </div>
            <div class="col-md-3 col-6">
                <h1 class="introduce-info-title">1,456</h1>
                <p class="introduce-info-desc">Giờ học</p>
            </div>
            <div class="col-md-3 col-6">
                <h1 class="introduce-info-title">9,999</h1>
                <p class="introduce-info-desc">Bài tập</p>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- /Introduce -->