 <section class="footer-wrapper" id="footer">
     <div class="container">
         <div class="row">
             <div class="col-lg-5 mb-4 mb-lg-0">
                 <div class="footer-logo d-flex justify-content-start">
                     <h3 class="footer-title">E-LEARNING</h3>
                 </div>
                 <p class="footer-text">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptate ipsum beatae consequuntur fugit. Nam esse
                     tenetur molestiae
                     quis accusamus, temporibus aliquam adipisci, modi dolorem cum sed facere delectus excepturi?
                 </p>
             </div>
             <div class="col-lg-4 px-lg-5 mb-lg-0">
                 <h3 class="footer-title">Liên hệ</h3>
                 <p class="footer-text">
                     <a href="#">
                         <p><i class="fas fa-map-marker-alt"></i> Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</p>
                     </a>
                     <a href="#">
                         <p><i class="fas fa-phone"></i> 0969696969</p>
                     </a>
                     <a href="#">
                         <p><i class="far fa-envelope"></i> phuongtdph13747@fpt.edu.vn</p>
                     </a>
                 </p>
             </div>
             <div class="col-lg-3 mb-4 mb-lg-0 ft-icon-wrapper">
                 <h3 class="footer-title">Mạng xã hội</h3>
                 <p>
                     <a href="#" class="footer-social-icon"><i class="fab fa-facebook"></i></a>
                     <a href="#" class="footer-social-icon"><i class="fab fa-instagram"></i></a>
                     <a href="#" class="footer-social-icon"><i class="fab fa-dribbble"></i></a>
                     <a href="#" class="footer-social-icon"><i class="fab fa-twitter"></i></a>
                 </p>
             </div>
             <div class="col-12 footer-credit text-center">
                 <span>&copy; 2022 <a href="https://www.facebook.com/toilaphuongg/" class="fb" title="Tran Duc Phuong">Tran Duc Phuong</a> All
                     Rights
                     Reserved</span>
             </div>
         </div>
     </div>
 </section>